{:paths ["src"]
 :deps  {org.clojure/clojure       {:mvn/version "1.13.0-alpha6"}
         org.clojure/clojurescript {:mvn/version "1.12.145"}
         io.github.conjurernix/relm.core   {:mvn/version "0.1.0-alpha3"}
         metosin/reitit            {:mvn/version "0.11.0-rc1"}}
 :aliases
 {:test       {:extra-paths ["test"]}
  :clj-kondo  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
               :main-opts    ["-m" "clj-kondo.main"]}
  :cljfmt     {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
               :main-opts    ["-m" "cljfmt.main"]}
  :clj-watson {:replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.1.0" :git/sha "be98e4d"}}
               :main-opts    ["-m" "clj-watson.cli"]}}}
