{:paths ["src"]
 :deps  {org.clojure/clojure       {:mvn/version "1.13.0-alpha6"}
         org.clojure/clojurescript {:mvn/version "1.12.145"}
         com.lambdaseq/relm.core   {:local/root "../core"}
         metosin/reitit            {:mvn/version "0.11.0-rc1"}}
 :aliases
 {:test {:extra-paths ["test"]}}}
