;; shadow-cljs configuration
{:deps true
 :dev-http {8080 "public"}
 :builds
 {:counter {:target     :browser
            :output-dir "public/js"
            :asset-path "/js"
            :modules    {:main {:entries [examples.counter.core]}}}}}