{:paths ["src" "../query/test" "../form/test" "../reitit/test" "../core/test"]
 :deps  {com.lambdaseq/relm.core   {:local/root "../core"}
         com.lambdaseq/relm.form   {:local/root "../form"}
         com.lambdaseq/relm.query  {:local/root "../query"}
         com.lambdaseq/relm.reitit {:local/root "../reitit"}
         metosin/reitit            {:mvn/version "0.11.0-rc1"}
         thheller/shadow-cljs      {:mvn/version "3.5.0"}
         hashp/hashp               {:mvn/version "0.2.2"}}
 :aliases
 {:clj-kondo  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
               :main-opts    ["-m" "clj-kondo.main"]}
  :cljfmt     {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
               :main-opts    ["-m" "cljfmt.main"]}
  :clj-watson {:replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.1.0" :git/sha "be98e4d"}}
               :main-opts    ["-m" "clj-watson.cli"]}}}