{:paths ["src"]
 :deps  {com.lambdaseq/relm   {:local/root "../core"}
         metosin/reitit       {:mvn/version "0.11.0-rc1"}
         thheller/shadow-cljs {:mvn/version "3.5.0"}
         hashp/hashp          {:mvn/version "0.2.2"}}}