{:paths ["src" "../core/src" "../form/src" "../query/src" "../reitit/src" "../query/test" "../form/test" "../reitit/test" "../core/test"]
 :deps  {io.github.conjurernix/relm.core   {:mvn/version "0.1.0-alpha5"}
         io.github.conjurernix/relm.form   {:mvn/version "0.1.0-alpha5"}
         io.github.conjurernix/relm.query  {:mvn/version "0.1.0-alpha5"}
         io.github.conjurernix/relm.reitit {:mvn/version "0.1.0-alpha5"}
         metosin/reitit                    {:mvn/version "0.11.0-rc1"}
         thheller/shadow-cljs              {:mvn/version "3.5.0"}
         hashp/hashp                       {:mvn/version "0.2.2"}}
 :aliases
 {:clj-kondo  {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}}
               :main-opts    ["-m" "clj-kondo.main"]}
  :cljfmt     {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
               :main-opts    ["-m" "cljfmt.main"]}
  :clj-watson {:replace-deps {io.github.clj-holmes/clj-watson {:git/tag "v6.1.0" :git/sha "be98e4d"}}
               :main-opts    ["-m" "clj-watson.cli"]}}}